.contenedor{
	border: solid 2px;
	margin-top: 20px;
	padding: 10px;
}
header{
	border: solid 2px;
	border-color: orange;
	margin-top: 10px;
}
header h1{
	text-align: center;
}
nav{
	margin-top: 10px;
	border: solid 2px;
	border-color: green;
	height: 50px;
	
}
nav ul li{
	/*border:solid 1px;*/
	padding: 10px;
	list-style: none;
	border: solid 1px;
	float: left;
	margin-right: 20px; 
	margin-left: 20px;
	
}
section{
	margin-top: 10px;
	border: solid 2px;
	border-color: blue;
	float: right;
	height: 50px;
}
aside{
	margin-top: 10px;
	float: left;
	border: solid 2px;
	border-color: red;
	height: 50px;
}
footer{
	margin-top: 80px;
	border: solid 2px;
	border-color: yellow;
	height: 50px;
}